.Main {
  display: flex;
}

.Main nav {
  border: solid 1px black;
  width: 20%;
}

.Main-container {
  border: solid 1px black;
  text-align: center;
  width: 80%;
}

.Main-container main {
  display: flex;
  flex-wrap: wrap;
}
