.rating-form{
  display: flex;
  flex-direction:column;
}
#product-detail-evaluation {
  height: 100px;
  width: 500px;
}
.send-evaluation {
  align-items: center;
  width: 15%;
  margin-left: 10%;
}
